<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header-css">
		<title>Finance APP</title>
        <!-- this is header-css -->
        <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}" />
        <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
	  	
	  	<!-- Links for Date picker -->
	  	<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
		<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
		
	  	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>  
</head>
<body>
<th:block th:fragment="header">
    <!-- <nav class="navbar navbar-light navbar-custom">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/home}">
                    <img th:src="@{../../images/logo.jpg}" alt="memorynotfound logo"/>
                </a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a th:href="@{/home}">Home</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                        <form th:action="@{/logout}" method="get" class="logout">
							<button class="btn btn-info btn-md glyphicon glyphicon-log-out" name="logout"
								type="Submit">Logout</button>
						</form>
                    </li>
                </ul>
            </div>
        </div>
    </nav> -->
    
    <nav id="nav-3">
      <a class="navbar-brand" th:href="@{/home}">
      	<img th:src="@{/images/flogo.png}" class="nav-image"/>
      </a>
      <a class="glyphicon glyphicon-home homelink padding" th:href="@{/home}"></a>
	  <a class="link-3 padding divider-vertical" th:href="@{/home/create-forex}">Forex Request</a>
	  <a class="link-3 padding divider-vertical" th:href="@{/home}">Pending Items</a>
	  <a class="glyphicon glyphicon-off logoutlink navbar-right" title="Logout" th:href="@{/logout}"></a>
	</nav>
    
    
</th:block>

<th:block th:fragment="side-bar-forex">
	<div class="side-bar-nav">
	     <ul class="nav nav-tabs nav-stacked">
	       <li><a href='#'>From Existing</a></li>
	       <li class ="divider-horizontal"><a href='#'>Another Link 2</a></li>
	       <li class ="divider-horizontal divider-botton-white"><a href='#'>Another Link 3</a></li>
	     </ul>
	</div>
</th:block>
</body>
</html>